.explore{
    font-size: 300%;
    padding: 10% 10% 10% 17%;
    text-align: left;
    color: white;
      font-family: 'Oswald', sans-serif;
    font-weight: bold;
  }
  .TopBut{
    padding: 10% 10% 10% 17%;
  }
  .TopBut1{
   margin-left: 20%;
  }
  .TopBut2{
    margin-right: 25%;
   }
  .pisa{
    width: 112%;
    margin-top: 21%;
  }
  .soci{
    display: block;
    margin-bottom: 20px;
  }
  .top{
    width: 100%;
    max-width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background: rgb(78,78,78);
background: linear-gradient(15deg, rgba(78,78,78,1) 0%, rgba(7,8,0,1) 17%);  margin: 0;
    background-position: center;
    background-size: cover;
  }


/* subsection3 classes - by aman */

.suba{
  width: 100%;
    max-width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background: rgb(0, 0, 0);
    background-position: center;
    background-size: cover;
}

.rowa{
  background-color: rgb(255, 255, 255);
  height: 35rem;
  width:100%;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.highcola{
  position: relative;
  background-color: rgb(226, 226, 226);
}

.imgsize {
    width: 250px;
    height: 200px;
    transition: transform .5s ease;
}
.imgsize:hover {
    transform: scale(1.05);
}

.contactbutton {
    display: inline-block;
  border-radius: 30px;
  background-color:white;
  border: none;
  color: black;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.contactbutton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
.contactbutton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.contactbutton:hover span {
  padding-right: 25px;
}
.contactbutton:hover span:after {
  opacity: 1;
  right: 0;
}