.explore{
    
    font-size: 300%;
    padding: 10% 10% 10% 17%;
    text-align: left;
    color: white;
      font-family: 'Oswald', sans-serif;
    font-weight: bold;
  }
  .TopBut{
    padding: 10% 10% 10% 17%;
  }
  .TopBut1{
   margin-left: 20%;
  }
  .TopBut2{
    margin-right: 25%;
   }
  .pisa{
    width: 112%;
    margin-top: 21%;
  }
  .soci{
    display: block;
    margin-bottom: 20px;
  }
  .top{
    width: 100%;
    max-width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background: rgb(78,78,78);
background: linear-gradient(15deg, rgba(78,78,78,1) 0%, rgba(7,8,0,1) 17%);  margin: 0;
    background-position: center;
    background-size: cover;
  }
  .top2{
    width: 100%;
    max-width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  }
  .explore2{
    
    font-size: 200%;
    padding: 10% 10% 10% 17%;
    text-align: left;
      font-family: 'Oswald', sans-serif;
    font-weight: bold;
  }
  .pisa2{
    width: 45%;
  }
  .top2phone1{
    text-align: right;
  }